body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #616161;
    color: #212121;
}

.calc {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.header__input {
    width: 96%;
    padding: 0;
    border: none;
    height: 30px;
    font-size: 1em;
    padding: 20px 5px 10px;
    background: #212121;
    color: #fff;
    outline: none;
    text-align: right;
    border-radius: 10px 10px 0 0;
}

.body__row {
    display: flex;
}
.body__row:last-child .btn:first-child {
    border-radius: 0 0 0 10px;
}
.body__row:last-child .btn:last-child {
    border-radius: 0 0 10px 0;
}

.btn {
    padding: 0;
    width: 60px;
    height: 50px;
    font-size: 1.2em;
    border:none;
    background: #bdbdbd;
    outline: none;
}
.btn:active {
    background: #ffd180;
}
.btn--orange {
    background: #fb8c00;
}